.getSmile {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  background: linear-gradient(to left, #6592c4, rgba(77, 139, 194, 0.34));
  padding: 0;
  border-radius: 10px ;
  margin: 60px 0px 15px 0px ;
  flex-direction: row ;
  overflow: hidden ;
  max-height: 75vh ;
}

.getSmile .h1{
  animation: slide 0.6s ease-out both;
  
}

@keyframes slide {
  0% {opacity: 0;
    transform: translateY( 80px);
  }
  100% {opacity: 1;
  transform: translateY(0);
}
}

.getSmile .title{
  animation-delay: 3s;
  animation: slideRight 1.5s ease-out;
}


@keyframes slideRight {
  0% {opacity: 0;
    transform: translateX(-80px);
  }
  100% {opacity: 1;
  transform: translateX(0);
}
}
.availableSpaces{
  color: #00278D;
  font-weight: bolder;
  font-size: 15px;
  margin: 6px;
  text-align: center ;

  
}
.appointmentSection {
  display: flex;
  width: 100%;
  box-sizing: border-box ;
  border-radius: 12px ;
  box-shadow:  0px 8px 25px rgba(0, 0, 0, 0.2) ;
  background: #ffffff ;
  min-height: 500px;
  overflow: visible;
  margin: 60px 0px;
  
}

.blue {
  background: linear-gradient(145deg, #6592c4, rgba( 77, 139, 194, 0.763) )  ;
  color: #00278D;
  padding: 50px 30px;
  display: flex;
  flex: 1 ;
  justify-content: center ;
  align-items: center ;
  width: 100%;
  max-width: 100%;
 text-align: center ;
  box-sizing: border-box;
   box-shadow: 0 0 10px rgb(77, 139, 194);

}

.blue .h2 {
  font-weight: bold;
  font-size: 30px;
  background:transparent;
  backdrop-filter: blur(5px) ;
 box-shadow: -2px -2px 15px #ffffff4f; 
  border: 1px solid #b4b5b653;
  border-radius: 8px;
  padding: 10px;
  display: flex ;
  
}

.purpule {
  background: #f0f0f0ac;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
   width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.purpule input[type="date"]  {
  width: 100%;
  max-width: 100%;
  margin-top: 8px;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #6592c4;
   transition: all 0.3s ease;

}
.purpule input[type="date"]:focus  {
 border-color:#6592c4;
  box-shadow: 0 0 8px  rgba(77, 139, 194, 0.796);}

  
.purpule h2 {
  margin-bottom: 25px;
  color: #000;
  text-align: center;
  font-size: 24px;
}

.purpule label {
  font-weight: bold;
  margin-top: 20px;
  color: #000;
  display: block;
  font-size: 18px;
}
.purpule select {
    width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #6592c4;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.purpule select:focus {
  border-color:#6592c4;
  box-shadow: 0 0 8px  rgba(77, 139, 194, 0.796);
}

.purpule .bookBtn {
  margin-top: 30px;
  padding: 14px;
  font-weight: bold;
  background: linear-gradient(145deg, #3f6c9f, rgb(80, 156, 222));
  color: azure;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
   border-top: 1px solid #cececeeb;
   border-left: 1px solid #cecece6e;
   box-shadow:  0px 3px 4px rgba(0, 0, 0, 0.574) ;
}

.purpule button:hover {
  background: linear-gradient(145deg, #3f6c9f, rgba(52, 108, 157, 0.763));
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.444);
  
}
.required{
  font-size: 15px;
  color: #00000091;
  margin: 1px;
}

.appointmentContent {
  flex: 1;
  padding: 20px;
  color:#00278D;
}

.appointmentContent h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  -webkit-text-stroke: 1px #121212d4; }

.title {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}

.heroBtn {
  padding: 12px 20px;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(145deg, #3f6c9f, rgb(80, 156, 222));
  color: azure;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #51515167;
  animation: textDrift 4s ease-in-out infinite alternate ;
  right: 15px;
  border-top: 1px solid #cecece6e;
  border-left: 1px solid #cecece6e;
  box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.692) ;
  margin: 10px 2px;


}

@keyframes textDrift {
  50% { transform: translateY(-10px); }
}

.heroBtn:hover {
  background: transparent;
  backdrop-filter: blur (20px) ;
  color: #00278D;
  animation: textDrift 1s ease-in-out forwards;
  }
.heroImage {
  flex: 1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 100vh;}


.success {
  position: fixed;
  top: 50px;
  right: 10px;
  background: #28a745;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.363);
  animation: slideInOut 3s forwards;
  z-index: 2;

}
.alert{
  position: fixed;
  top: 50px;
  right: 10px;
  background: #da200fdf;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.363);
  animation: slideInOut 3s forwards;
  z-index: 2;
}
.timeClander{
  display: grid;
  margin: 20px 0;

}

.timeSection{
  margin: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:transparent;
  backdrop-filter: blur(5px) ;
  box-shadow: -2px -2px 15px #ffffff4f; 
  border: 1px solid #b4b5b653;
  border-radius: 10px;
  padding: 0 12px ;



}
.textTime{
  font-size: 22px;
  color: #00278D;
  margin: 5px 0;

}

.bookTime{
  color: azure;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(145deg, #3f6c9f, rgb(80, 156, 222));
  border: none;
  box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.378) ;
  margin: 10px;
  
}
.bookTime.active {
  background:transparent;
  backdrop-filter: blur(5px) ;
  box-shadow: -2px -2px 15px #ffffff4f; 
  border: 1px solid #b4b5b653;
  color: #00278D;
  text-shadow:0 0 5px #31323245 ;
  background: none;


}

.availableText{
  font-size: 18px;
  color: red;
  margin:0 8px;
}


@media (max-width: 1024px), (max-width: 1440px),(max-width: 1920px) {
  .appointmentContent h1 {font-size:  38px;}
  .title {font-size:  25px; margin: 15px 2px;}
  .heroBtn {font-size:20px;
   padding:12px 22px;}
  .heroImage { height: 350px; }}
  .getSmile {height: 75vh;}


@media (max-width: 1024px) {
  .bookTime{padding:8px; font-size: 15px; margin: 10px;}
  .availableText{font-size: 14px;}
  .textTime{font-size: 16px;}
  .purpule{padding: 50px 30px;}
}
@media (max-width: 768px) {

  .appointmentSection { flex-direction: column;}
  .blue, .purpule{width:100%; padding: 10px; }
  .blue .h2,  .purpule h2{ font-size: 20px; }
  .appointmentContent .h1 {font-size: 20px ;}
  .appointmentContent .title{ font-size: 14px; }
  .appointmentContent .heroBtn {font-size: 14px;}
  .appointmentContent {padding:5px;}
  .getSmile{max-height: 50vh;}
  .heroImage { height: 500px;  padding: 0px;}
  .timeSection{display: flex; flex-direction: column; align-items: center; }
  .availableText{font-size: 16px;}
  .bookTime{padding: 10px; margin: 6px; font-size: 16px; }
  .textTime{font-size: 22px;}

}
  

  @media (max-width: 425px) {
  .appointmentSection {min-height: auto; }
  .blue  .h2, .purpule h2 { font-size: 16px;}
  .purpule select,  .purpule button { font-size: 14px; padding: 10px; }
  .appointmentContent .h1 { font-size: 16px; margin: 10px 0 10px 2px; }
  .appointmentContent { padding: 5px; z-index: 1; }
   .appointmentContent  .title { font-size: 12px; margin: 10px 0 10px 2px; }
  .appointmentContent .heroBtn { font-size: 10px; padding: 5px 10px;}
   .heroImage { height: 80%; position: relative; opacity: 1; z-index: 0; width: 100%; }
  .getSmile {flex-direction: row; height: 32vh; position: relative; justify-content: flex-start;}
  .timeSection{display: flex; flex-direction: column; align-items: center; }
}



@media (max-width: 320px) {
  .appointmentContent .h1 { font-size: 14px; margin: 10px 0 10px 2px;}
  .appointmentContent  .title {font-size:10px;}
 .blue  .h2 {margin: 2px; font-size: 15px;}
 .blue{padding: 25px;}
  .appointmentContent .heroBtn { font-size: 8px; padding: 5px 8px; }
  .heroImage { height: 25vh;}
  .getSmile { flex-direction: row; height:35vh;  }
  .purpule { margin-top: 0px;}
  .purpule .bookBtn{  padding: 12px; font-size: 14px;}
  .timeSection{display: flex; flex-direction: column; align-items: center; }
  .availableText{font-size: 12px;}
  .bookTime{padding: 6px; margin: 6px; }
  .textTime{font-size: 20px;}
}

